

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";




@layer base {
  html {
    font-family: "Geist", sans-serif;
  }

}
html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --float-duration: 6s;
    --bounce-duration: 3s;
  }
}

@layer utilities {
  .animate-float {
    animation: float var(--float-duration) ease-in-out infinite;
  }
  
  .animate-float-delayed {
    animation: float var(--float-duration) ease-in-out 2s infinite;
  }
  
  .animate-bounce-slow {
    animation: bounce var(--bounce-duration) infinite;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
